body{
  // background-image: url("fog_landscape.jpg");
  // background-size: cover;

#title{
  font-size: 80px;
  text-shadow: 2px 2px 6px black;
  color:white;

}
.vidb {
position: fixed; right: 0; bottom: 0;
min-width: 100%; min-height: 100%;
width: auto; height: auto; z-index: -100;

background-size: cover;
}

#padding_row {
  margin-right: 50px;
  margin-bottom: 50px;
}


.search{
  margin-top: 50%;
}

}
