<div class="container">
<div class="row">
<h1>My flats</h1>
<ul>
  <%  @flats.each do |flat| %>
  <li> <%= flat.name %> <%= link_to("Show", owner_flat_path(flat), :class => "btn btn-primary" ) %>
  <%= link_to("Add availability", new_flat_availability_path(flat), :class => "btn btn-primary" ) %></li>
  <% end %>
</ul>
</div>
</div>