<h1 id="title">The best places to be scared...</h1>

<div class="container text-center">
<%= link_to("All the flats", flats_path, class: "btn btn-sample") %>
</div>

<%= video_tag "ghost.mp4" , :autoplay => true, :loop => true, :class => "vidb" %>
<!-- <video width="320" height="240" controls="controls">
      <source src="/assets/ghost.mp4"/>
 Your browser does not support the video tag.
</video> -->
